.pokedex-filter {
  background-color: #313131;

  padding: 30px 15px 15px;

  .ant-typography {
    color: #ffffff;
  }

  &__recommend {
    margin-top: 15px;

    font-size: 1rem;
  }

  &__tips {
    padding: 15px;
    border-radius: 10px;

    background-color: #4dad5b;

    .ant-typography {
      font-size: 1.4rem;

      margin-bottom: 0;
    }
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-select {
      border: 4px solid #616161;
      border-radius: 5px;

      width: 80%;
      height: 40px;
    }

    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
      height: 100%;
    }

    .ant-btn-icon-only {
      background-color: #da471b;

      width: 50px;
      height: 40px;
      border: none;

      &:hover {
        background-color: #ee6b2f;

        transition: all 0.3s ease-out;
      }

      span {
        color: #ffffff;

        font-size: 20px;
      }
    }
  }
}
