.pokedex-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  background: #ffffff;

  @media screen and (min-width: 768px) {
    background: #ffffff url(../../assets/img/container_bg.png);
  }
}

.pokedex-header {
  padding: 15px 15px 0;

  background-color: #ffffff;
  h1 {
    color: #919191;

    font-weight: 500;
    font-size: 1.5rem;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
